<div class="title">{{comment}}</div>
<div class="activitypage"> 
<div id="activitytitle"> Fear Not Boredom </div>
<div id=""> </div> 
</div>


<style type="text/css">

 .activitypage{
 	}

 #activitytitle{
 	font-size:35px;
    text-align:center;
    padding-bottom:7px;
}

</style>
