<div class="activitypage">
	<div id="pagetitle"> Activity Tracker </div>
	<div id="activityicon"><img src="/images/sun.png"></div>	
	<div class="actlist"> 
	{{#each activity}}
	<div id="activity"> 
			<div id="name">{{name}}</div>
			<div id="count">{{count}} Counts </div>
		</div>
		{{/each}}
	</div>
<div id="suggest"><a href="#">Track Beach Activity</a></div>
</div>

<style type="text/css">

#suggest a:link {color:#2a6496;}
#suggest a:visited {color:#2a6496;}

.activitypage{
 	font-size:25px;
 	text-align:center;
 	margin-left:auto;
 	/*padding-right:50px;*/
 	letter-spacing: 1.5px;
 }
 #pagetitle{
 	padding-top:15px;
 	font-size:40px;
 	letter-spacing: 1.5px
 }
 #activityicon{
 	height: 115px;
 	margin-left:auto;
	margin-right:auto;
 }
#bestact{
	font-size:30px;
	padding-bottom:5px;
}
#youcan{font-size:25px;}
#youcancontent{font-size:20px;}
.actlist{width:100%;}
#name{
	width:50%;
	float:left;
}
#votes{
	width:50%;
	float:right;
}
#suggest{
padding-top:10px;
font-size: 30px;
height: 40px; /* height for all three buttons on front page*/
width:170px;
background: none;
margin-left:auto;
margin-right:auto;
}
</style>
<script src="//www.google-analytics.com/cx/api.js?experiment=nA7cbYV-TLOFI7cfd-0G9Q"></script>
<script>
var n = "{{name}}";
console.log(n);
function loadSA(){$(".sbcontent").load("/suggestact/"+n,errorResponse);}
function loadSA2(){$(".sbcontent").load("/suggestact2/"+n,errorResponse);}
var chosenVariation = cxApi.chooseVariation();
console.log("was chosen " + choseVariation);
var pageVariations = [
  function() {
ga("send", "event", "Category", "Action");
  	$("#suggest a").click(function() { loadSA(); });},
  function() {
  	ga("send", "event", "Category", "Action");
    $("#suggest a").click(function() { loadS2(); });
  }];

$(document).ready(function(){
	pageVariations[chosenVariation];
	//$("#suggest a").click(function() { loadSA(); });
	//loadMainContent("/suggestActivity/LaJolla")
});
</script>