<div class="activitypage">
	<div class="bestact">
		<div id="acticon"><img src="{{acticon}}"></div>
		<div id="bestact">{{bestact}}</div>
		<div id="youcan">{{youcan}}</div>
		<div id="youcancontent">{{youcancontent}}</div>
	</div>	
	<div class="actlist"> 
		<div id="activity"> 
			<div id="name">Swimming</div>
			<div id="count">3 Votes</div>
		</div>
		<div id="activity"> 
			<div id="name">Running</div>
			<div id="count">6 Votes</div>
		</div>
		<div id="activity"> 
			<div id="name">Surfing</div>
			<div id="count">8 Votes</div>
		</div>
		<div id="activity">
			<div id="name">Kayaking</div>
			<div id="count">1 Vote</div>
		</div>
		<div id="activity">
			<div id="name">Scuba Diving</div>
			<div id="count">1 Vote</div>
		</div>
		<div id="activity">
			<div id="name">Bonfire</div>
			<div id="count">4 Votes</div>
		</div>
		<div id="activity">
			<div id="name">Volleyball</div>
			<div id="count">7 Votes</div>
		</div>
	</div>

<div id="suggest"><a href="#">Suggest Activity</a></div>
</div>


<style type="text/css">
.activitypage{
 	font-size:25px;
 	text-align:center;
 }
 #acticon{
 	display: 60%;
 }
#bestact{
	font-size:30px;
	padding-bottom:5px;
}
#youcan{
	font-size:25px;
}
#youcancontent{
	font-size:20px;
}
.actlist{
width:100%;
}
#name{
	width:50%;
	float:left;
}
#votes{
	width:50%;
	float:right;
}
</style>
<script>
$(document).ready(function(){
	$("#suggest a").click(function() { loadMainContent("/addactivity/LaJolla/run") });
});
</script>