<head><script src="//www.google-analytics.com/cx/api.js?experiment=NKWEO9DjThCQQQKUU-dabA"></script></head>
<div class="activitypage">
	<div id="pagetitle"> Activity Tracker </div><br>
	<div id="activityicon"><img src="/images/sun.png"></div>	
	<div class="actlist">
	{{#each activity}}
	<div id="activity"> 
			<div id="name">{{name}}</div>
			<div id="count">{{count}} Counts </div>
		</div>
		{{/each}}
	</div>
<div id="suggest"><a href="#">Track Beach Activity</a></div>
</div>

<style type="text/css">
#suggest a:link {color:#2a6496;}
#suggest a:visited {color:#2a6496;}
.activitypage{
 	font-size:25px;
 	text-align:center;
 	margin-left:auto;
 	letter-spacing: 1.5px;
 }
 #pagetitle{
 	padding-top:15px;
 	font-size:40px;
 	letter-spacing: 1.5px
 }
 #activityicon{
 	/*height: 50%;*/
 	margin-left:auto;
	margin-right:auto;
	display:inline-block;
    position:absolute;
    left:30%;
    top:5%;
    z-index:-1;
 }
#youcan{font-size:25px;}
#youcancontent{font-size:20px;}
.actlist{width:100%;}
#name{
	width:50%;
	float:left;
}
#votes{
	width:50%;
	float:right;
}
#suggest{
padding-top:10px;
font-size: 30px;
height: 40px; /* height for all three buttons on front page*/
width:100%;
background: none;
margin-left:auto;
margin-right:auto;
}
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
//  ga('create', 'UA-48659430-1', { 'cookieDomain': 'none' });
  ga('create', 'UA-48659430-1', 'beachbum.herokuapp.com');
  ga('send', 'pageview');

</script>

<script>
var n = "{{name}}";
function loadSA(){$(".sbcontent").load("/suggestact/"+n,errorResponse);}
function loadSA2(){$(".sbcontent").load("/suggestact2/"+n,errorResponse);}

var pageVariations = [
  function() {
  	$("#suggest a").click(function() { loadSA(); }); },
  function() {
    $("#suggest a").click(function() { loadSA2();});
  } ];
$(document).ready(function(){
console.log(n);
var chosenVariation = cxApi.chooseVariation();
console.log("was chosen " + chosenVariation);
	if(chosenVariation == 0 ){
		$("#suggest a").click(function() { ga("send", "event", "activity", "click");loadSA(); });
	} else {
		$("#suggest a").click(function() { ga("send", "event", "activity", "click");loadSA2();});	
	}

	//pageVariations[chosenVariation];
	//$("#suggest a").click(function() { loadSA(); });
	//loadMainContent("/suggestActivity/LaJolla")
});
</script>