<link href="/css/beach.css" rel="stylesheet">

<div class="beachcontent">
<div class="headline">
<div class="arrow"><a href="#"><img src="/images/arrowicon.png"></a></div><div class="pagename">{{beachname}}</div>
<div class="home"><a href="#"><img src="/images/homeicon.png"></a></div></div>

<div style="clear:both;"></div>
<div class="centercontent">
<div class="sidebar">
	<div class="tab"><div class="iconname" id="weather"><a href='#'><img src="/images/weathericon.png" class="img-responsive icon"/></a></div></div>
	<div class="tab"><div class="iconname" id="surf"><a href='#'><img src="/images/surficon.png" class="img-responsive icon"/></a></div></div>
	<div class="tab"><div class="iconname" id="map"><a href='#'><img src="/images/mapicon.png" class="img-responsive icon"/></a></div></div>
	<div class="tab"><div class="iconname" id="activity"><a href='#'><img src="/images/activityicon2.png" class="img-responsive icon"/></a></div></div>
	<div class="tab"><div class="iconname" id="crowd"><a href='#'><img src="/images/crowdicon.png" class="img-responsive icon"/></div></a></div>
	<!--div class="tab"><div class="iconname" id="alert"><a href='#'>ALERT</a></div><img src="/images/alerticon.png" class="icon"/></div-->
	<!--div class="tab"><div class="iconname" id="help"><a href='#'>HELP</a></div><img src="/images/helpicon.png" class="icon"/></div-->
</div>
<div style="clear:both;"></div>
<div class="sbcontent">
	<img id="weatherimg" src="/images/ljsmain.png" alt="weather logo"/> 
</div>
</div><!-- end center content -->
<div style="clear:both;"></div>
</div> <!-- end beach content -->

<script type="text/javascript">
//prototypes and declarations
var expansion = 0;
var def = 1;
function allShow(){
$("#weather").show();
$("#surf").show();
$("#map").show();
$("#activity").show();
$("#crowd").show();
$("#alert").show();
$("#help").show();
}
function allHide(){
$("#weather").hide();
$("#surf").hide();
$("#map").hide();
$("#activity").hide();
$("#crowd").hide();
$("#alert").hide();
$("#help").hide();
if(def)
loadWeather();
def=0;
}


function errorResponse ( response, status, xhr ) {
		parseweather(response);
		if ( status == "error" ) { var msg = "Sorry but there was an error: ";
		$( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
	} };

function loadWeather(){
	var weatherRequest = "http://api.openweathermap.org/data/2.5/weather?lat=32.8608&lon=-117.2569";
	$( ".sbcontent" ).load( "/weather/{{stringname}}" , errorResponse );
}

function loadSurf(){
	$(".sbcontent").load("/surf",errorResponse);
}

function loadActivity(){
	$(".sbcontent").load("/activity",errorResponse);
}

function loadCrowds(){
	$(".sbcontent").load("/crowds",errorResponse);
}

function loadMap(){
	$(".sbcontent").load("/map", errorResponse);
}

function parseweather(result){
	console.log(result);
}

//may not work with different type of browsers
function expandSidebar(){
	console.log("clickable");
	if(expansion == 0){
	$(".sidebar").css({animation: "slideout 1s", width:'150px'});
	window.setTimeout('allShow()', 800);
	$(".sbcontent").css({"z-index":'-1'});
	expansion = 1;
	}else{
	allHide();
	$(".sidebar").css({animation: "slidein 1s"});
	window.setTimeout(function(){$(".sidebar").css({width:'50px'});}, 1000);
	$(".sbcontent").css({ "z-index":"1"});
	expansion = 0;
	}
}

loadWeather();
//allHide(); //call default

$( document ).ready(function() {
	//$(".sidebar").click( function(){ expandSidebar(); } );
	$(".arrow a").click(function() { loadMainContent("beachlist") });
	$(".home a").click(function() { window.location.href="/"; });
	$("#surf a").click(function(){ loadSurf("ljssurf.png") });
	$("#weather a").click(function(){loadWeather("ljsmain.png") });
	$("#crowd a").click(function(){loadCrowds("crowd.png") });
	$("#login a").click( function(){ loadMainContent("LOGIN") });
	$("#help a").click(function() { loadMainContent("HELP"); }); 
	});
</script>
