<link href="/css/beachlist.css" rel="stylesheet">

<div class="button" id="blist">	
	<ul>
		<li><div class="button" id="back"><a href="#">Back</a></div></li>
		<li><div class="button" id="LaJolla"><a href="#">La Jolla Shores </a><img src="/images/sun.png"></div></li>
		<li><div class="button" id="Oceanside"><a href="#"> Oceanside Beach</a><img src="/images/overcast.png"></div></li>
		<li><div class="button" id="pb"><a href="#"> Pacific Beach</a><img src="/images/sun.png"></div></li>
		<li><div class="button" id="Coronado"><a href="#"> Coronado Beach</a><img src="/images/sunclouds1.png"></div></li>
		<li><div class="button" id="MissionBay"><a href="#">Mission Bay</a><img src="/images/rain.png"></div></li>
	</ul>
</div>

<script type="text/javascript">
function loadDummyContent( pagename ){
   //var pagename = pagehash;//pagehash.substring(1, pagehash.length);
	$( ".container" ).load( "/dummy" , function( response, status, xhr ) {
		if ( status == "error" ) {
		var msg = "Sorry but there was an error: ";
		$( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
	} });
}

function loadWeather(){
	$.get("http://api.openweathermap.org/data/2.5/weather?lat=32.8608&lon=-117.2569", parseweather);
	$( ".container" ).load( "api.openweathermap.org/data/2.5/weather?lat=32.84&lon=-117.276944" , function( response, status, xhr ) {
		console.log(response);
		if ( status == "error" ) {
		var msg = "Sorry but there was an error: ";
		$( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
	} });
}
function parseweather( result ){
console.log("ajax to weather");
console.log(result);
}

$( document ).ready(function() {
	$("#pb a").click( function(){ //loadMainContent("pb") });
	 loadWeather()});
	//$("a").click( function(){ loadDummyContent("dummy") })
	$("#back a").click(function() { window.location.href="/"; });
	$("#Oceanside a").click( function(){ loadMainContent("ob") });
	$("#MissionBay a").click( function(){ loadMainContent("mb") });
	$("#Coronado a").click( function(){ loadMainContent("cb") });
	$("#LaJolla a").click( function(){ loadMainContent("ljs") });
	
});
</script>