<link href="/css/beachlist.css" rel="stylesheet">
<div class="button">
	<ul>
		<li><a href="#"> La Jolla Shores </a></li>
		<li><a href="#"> Oceanside Beach </a></li>
		<li><a href="#"> Pacific Beach </a></li>
		<li><a href="#"> Coronado Beach </a></li>
		<li><a href="#"> La Jolla Shores </a></li>
	</ul>
</div>

<script type="text/javascript">
function loadDummyContent(){
	console.log("ajax called dummy");
   //var pagename = pagehash;//pagehash.substring(1, pagehash.length);
	$( ".container" ).load( "/dummy" , function( response, status, xhr ) {
		if ( status == "error" ) {
		var msg = "Sorry but there was an error: ";
		$( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
	} });
}

$( document ).ready(function() {
	$("li a").click(function() { loadContent(); });
});
</script>>