<link href="/css/beachlist.css" rel="stylesheet">

<div class="button" id="blist">	
	<ul>
		<li class="button" id="back"><a href="#">Back</a></li>
		<li class="button" id="LaJolla"><div><a href="#">La Jolla Shores </a><img src="/images/sunny.png"></div></li>
		<li class="button" id="Oceanside"><div><a href="#"> Oceanside Beach</a><img src="/images/fog1.png"></div></li>
		<li class="button" id="pb"><div><a href="#"> Pacific Beach</a><img src="/images/fog1.png"></div></li>
		<li class="button" id="Coronado"><div><a href="#"> Coronado Beach</a><img src="/images/cloud2.png"></div></li>
		<li class="button" id="MissionBay"><div><a href="#">Mission Bay</a><img src="/images/sunny.png"></div></li>
	</ul>
</div>


<script type="text/javascript">
console.log("ajax called dummy");
function loadDummyContent( pagename ){
   //var pagename = pagehash;//pagehash.substring(1, pagehash.length);
	$( ".container" ).load( "/dummy" , function( response, status, xhr ) {
		if ( status == "error" ) {
		var msg = "Sorry but there was an error: ";
		$( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
	} });
}

$( document ).ready(function() {
	$("a").click( function(){ loadDummyContent("dummy") })
	$("#back a").click(function() { window.location.href="/"; });
	$("#pb a").click( function(){ loadMainContent("pb") });
});
</script>