<div id="crowd-o-meter">

<div id="crowdpage"> Crowd-O-Meter </div>
<div id="crowd"> High: Packed like Sardines </div>
<div id="time"> 2:10PM </div>
<div id="bttitle"> BEST TIME: <br> </div> 
<div id="besttime"> before 9:30am + after 4:00pm </div>
<div id="wttitle"> WORST TIME: <br> </div> 
<div id="worsttime">BETWEEN 11:00AM-2:30PM </div>
<div id="hottiealert"> Hottie Alert: <img src="/images/heart.png" class="img-responsive"> <img src="/images/heart.png" class="img-responsive"> <img src="/images/heart.png" class="img-responsive"> </div>

</div>


<style>
div .comment .title .height{
	font-size:40px;
	border-radius: 2px;
}

img{
	width:12%;
	height: 12%;
	float: right;
}


#crowdpage{
	text-align: left;
	color: #ef4444;
	font-size: 50px;
	letter-spacing: 4px;
}

#crowd{
	text-align: left;
	font-size: 30px;
	letter-spacing: 2px;
}

#time{
	text-align: center;
	font-size: 30px;
	letter-spacing: 2px;
}

#bttitle{
	text-align: left;
	font-size: 27px;
	letter-spacing: 3px;
}

#besttime{
	text-align: center;
	font-size: 25px;
	letter-spacing: 1px;
}

#wttitle{
	text-align: left;
	font-size: 27px;
	letter-spacing: 3px;
}

#worsttime{
	text-align: center;
	font-size: 25px;
	letter-spacing: 1px;
}

#hottiealert{
	text-align: left;
	font-size: 27px;
	display: inline-block;
	letter-spacing: 3px;
}


</style>