<div class="crowdalert">
<div id="crowdpage"> Crowd-O-Meter </div>
<div id="crowd"> High: Packed like Sardines </div>
<div id="time"> 2:10PM </div>
<div id="bttitle"> BEST TIME: <br> </div> 
<div id="besttime"> before 9:30am + after 4:00pm </div>
<div id="wttitle"> WORST TIME: <br> </div> 
<div id="worsttime">BETWEEN 11:00AM-2:30PM </div>
<div id="hottiealert"> Hottie Alert: <img src="/images/heart.png" class="img-responsive"> <img src="/images/heart.png" class="img-responsive"> <img src="/images/heart.png" class="img-responsive"> </div>
</div>

<style>
.crowdalert{text-align: center;letter-spacing: 0px;}
#hottiealert img{
	width:12%;
	height: 12%;
	float: right;
	margin-right: 0px;
}
#crowdpage{
	/*color: #2a6496;*/
	font-size: 40px;
	padding-top: 3px;
}
#crowd{
	color: #ef4444;
	font-size: 35px;
	padding-top: 4px;
}
#time{
	font-size: 30px;
}
#bttitle{
	font-size: 27px;
}
#besttime{
	font-size: 25px;
}
#wttitle{
	font-size: 27px;
}
#worsttime{
	font-size: 25px;
}
#hottiealert{
	font-size: 27px;
}
</style>
<script type="text/javascript">
//this portion of the script gets the current time
$("div #time").html("<p>"+getRealtime()+"</p>");
</script>