<div id="crowd-o-meter">

<div id="beachname"> La Jolla Shores </div>
<div id="crowd"> High: Packed like Sardines </div>
<div id="time"> 2:10PM </div>
<div id="besttime"> Before 9:30AM + After 4:00PM </div> 
<div id="worsetime"> 11:00AM-2:30PM </div>
<div id="hottiealert"> Hottie Alert: <img src= </div>

</div>


<style>
div .comment .title .height{
	font-size:40px;
	border-radius:;
}

#beachname {
	font-size:40px;
	font-family:decker;
}

#crowd{

}

#time{

}

#besttime{

}

#worsetime{

}

#hottiealert{

}



</style>