<div id="crowd-o-meter">

<div id="beachname"> La Jolla Shores </div>
<div id="crowdpage"> Crowd-O-Meter </div>
<div id="crowd"> High: Packed like Sardines </div>
<div id="time"> TIME: 2:10PM </div>
<div id="bttitle"> BEST TIME: <br> </div> 
<div id="besttime"> Before 9:30AM + After 4:00PM </div>
<div id="wttitle"> WORST TIME: <br> </div> 
<div id="worsttime">11:00AM-2:30PM </div>
<div id="hottiealert"> Hottie Alert: <img src= </div>

</div>


<style>
div .comment .title .height{
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	border-radius: 2px;
}

#beachname {
	font-size:40px;
	text-align: center;
}

#crowdpage{
	text-align: center;
	font-size: 40px;
}

#crowd{
	text-align: center;
	font-size: 14px;
}

#time{
	text-align: center;
	font-size: 14px;
}

#bttitle{
	text-align: center;
	font-size: 14px;
}

#besttime{
	text-align: right;
	font-size: 14px;
}

#wttitle{
	text-align: center;
	font-size: 14px;
}

#worsttime{
	text-align: right;
	font-size: 14px;
}

#hottiealert{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}



</style>