<link href="/css/Home.css" rel="stylesheet">

<head>
	<title> Home </title>
	</head>

<body>
	
    <div class="container" id="home1">
    	<h1> Beach Bum </h1>

    	<div class="container" id="menu">
    		<ul>	
    			<li> La Jolla Shores </li>
    			<li> Ocean Beach </li>
    			<li> Coronado </li>

    		</ul>
    	
    	</div>
    </div>
	
	</body>

