<!DOCTYPE html>
<html>
<head>
<!-- Google Analytics Content Experiment code -->
<!--script>function utmx_section(){}function utmx(){}(function(){var
k='82989344-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

	<title>Beach Bum</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
    <link href="/css/beachlist.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
    <!-- <div class="circle" id="title"> Beach Bum</div> -->
    <img class="img-responsive" id="homeimg" src="/images/logo.png" alt="homepage logo"><br>
    <p id="tagline"></p>
    <div class="button" id="find"><a href="#">Find a Beach</a></div>
    <!--
    <div id="buttonline">
    <div class="button" id="login"><a href="#">Login</a></div>
    <div class="button" id="sign"><a href="#">Sign Up</a></div></div>
	-->
    </div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/beachbum.js"></script>
<!-- script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48659430-1', 'beachbum.herokuapp.com');
  ga('send', 'pageview');

</script-->
<script>
var tagarr ={"text":[]};
{{#each headline}}
tagarr.text.push("{{text}}") ;
{{/each}}
console.log(tagarr);



var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
//if(width > 620)
    //$('.container').css('width', "400px");
$( document ).ready(function() {
var loc = 0;
  setInterval(function(){
  $("#tagline").html(tagarr['text'][loc]);
  loc++;
  if(loc > (tagarr.length))
    loc = 0;
  console.log(loc);
}, 2000);
	$("#login a").click(function() { loadMainContent("login"); });
	$("#find a").click(function() { loadMainContent("beachlist"); });
	$("#sign a").click(function() { loadMainContent("/dummy"); });
	//$("#find a").click(function() { loadMainContent(""); });
});
</script>

</body>
</html>