<link href="/css/login.css" rel="stylesheet">
<!-- where I started my coding -->	
	<div class="button" id="back"> <a href="#">Back</a></div>
	<form id="myForm" action="get">
	<div class="form-group">
	<p><strong id="username"> USERNAME: </strong> 
		<input class="form-control" type="text" name="fname"> <br><br> </p>
		</div><div class="form-group">
	<p><strong id="password"> PASSWORD: </strong> 
		<input class="form-control" type="text" name="Iname"><br><br> </p></div>
	<button class="btn btn-default" type="button" onclick="submitForm()">LOGIN</button>
	</form>

<script>

function submitForm(){loadMainContent("/dummy");}
$(document).ready( function(){
$("#back a").click(function() { loadMainContent("Home")});
});

function myFunction(){
document.getElementByld("Form").submit();
}
</script>
		
	<!-- not sure how to get the facebook login button to work :( 
	but here's the site I found thats useful: 
	https://developers.facebook.com/docs/facebook-login/login-flow-for-web/) -->