<link href="/css/map.css" rel="stylesheet">

<div class="map">
<div id="imgmap"> <img src="/images/sunclouds1.png" class="img-responsive"> </div> 
<div id=""> </div>
<div id=""> </div>
<div id=""> </div>	

</div>