<link href="/css/map.css" rel="stylesheet">

<div class="map">
<div id="name"> {{beachname}} </div> 
<div id="mapdata"> </div>
<div id=""> </div>
<div id=""> </div>	

</div>
<style type="text/css">
#mapdata img{
  width:60%;
  height: 60%;}

</style>
<script> 
function getMap(){
	var location;
	var name = "{{beachname}}"
	if(name == "LaJolla")
    	location = "/images/LJSMap.png"; //la jolla 
	else if(name == "Oceanside")
    	location = "/images/OBMap.png";
  	else if(name == "PacificBeach")
    	location = "/images/PBmap.png";
  	else if(name == "Coronado")
    	location = "/images/CorMap.png";
  	else if(name == "MissionBay")
    	location = "/images/MsMap.png";
	var tag = "<img src=\"" + location +"\" >";
	$("div #mapdata").html(tag);
}
getMap();

function getAddress(){
	var location;
	var name = "{{beachname}}"
	if(name == "LaJolla")
    	location = "8200 Camino del Oro, La Jolla, 92037"; //la jolla 
	else if(name == "Oceanside")
    	location = " 5059 Newport Ave, San Diego, 92107";
  	else if(name == "PacificBeach")
    	location = "4500 Ocean Ave, San Diego, 92109";
  	else if(name == "Coronado")
    	location = "1800 Avenida de las Arenas, Coronado, 92118";
  	else if(name == "MissionBay")
    	location = "3448 Crown Point Drive, San Diego, 92109";
  
	console.log("getting data from" + location);
	$.get(location, displayAddress);
}
</script>