<link href="/css/map.css" rel="stylesheet">

<div class="map">
<div id="name"> {{beachname}} </div> 
<div id="mapdata"> </div>
<div id=""> </div>
<div id=""> </div>	

</div>

<script> 
function getMap(){
	var location;
	var name = "{{beachname}}"
	if(name == "LaJolla")
    	location = "/images/LJSMap.png"; //la jolla 
	else if(name == "Oceanside")
    	location = "/images/OBMap.png";
  	else if(name == "PacificBeach")
    	location = "/images/PBmap.png";
  	else if(name == "Coronado")
    	location = "/images/CorMap.png";
  	else if(name == "MissionBay")
    	location = "/images/MsMap.png";
  
	var tag = "<img src=\"" + location +"\" >";
	$("div #mapdata").html(tag);
}
getMap();
</script>