<div class="weather">
<div class="title">{{beachname}}</div>
<div class="comment">{{comment}}</div>
<div class="height">{{height}}</div>
<div id="high"> HIGH 1:35pm </div>
<div id="low"> LOW 6:01am </div> 
<div id="wind"> NE LIGHT WIND </div> 
<div id="h2o"> H2O: 59F </div> 
</div>


<style>
div .comment .title .height{
	border-radius: 2px;
}

.title{
	text-align: center;
	font-size: 60px;
	margin-bottom: 10%;
	margin-top: 50px;
	letter-spacing: 4px;
}

.comment{
	text-align: center;
	font-size: 70px;
	color: #2A6496;
	margin-bottom: 5%;
}

.height{
	text-align: center;
	font-size: 50px;
	color: #ef4444;
	padding-top: 6px;
	padding-bottom: 6px;
	letter-spacing: 2px;


}

#high{
	text-align: center;
	font-size: 40px;
	letter-spacing: 2px;
}

#low{
	text-align: center;
	font-size: 40px;
	letter-spacing: 2px;

}
#wind{
	text-align: left;
	font-size: 25px;
	float: left;
}

#h2o{
	text-align: right;
	font-size: 25px;
	float: right;
}

