<link href="/css/surf.css" rel="stylesheet">


<div class="weather">
<!--<div class="title">{{beachname}}</div> -->
<div class="comment">{{comment}}</div>
<div class="height">{{height}}</div>
<div id="high"> HIGH 1:35pm </div>
<div id="low"> LOW 6:01am </div> 
<div id="wind"> NE LIGHT WIND </div> 
<div id="h2o"> H2O: 59F </div> 
</div>
