<div class="title">{{beachname}}</div>
<div class="comment">{{comment}}</div>
<div class="height">{{height}}</div>
<div id="high"> HIGH 1:35pm </div>
<div id="low"> LOW 6:01am </div> 
<div id="wind"> NE LIGHT WIND </div> 
<div id="h2o"> H2O: 59F </div> 



<style>
div .comment .title .height{
	font-size: 60px;
	border-radius: 2px;
}

.title{
	text-align: center;
	font-size: 60px;
}

.comment{
	text-align: center;
	font-size: 70px;
	color: #2A6496;
}

.height{
	text-align: center;
	font-size: 40px;
	color: #ef4444;

}

#high{
	text-align: center;
	font-size: 40px;
}

#low{
	text-align: center;
	font-size: 40px;
}
#wind{
	text-align: left;
	font-size: 20px;
	float: left;
}

#h2o{
	text-align: right;
	font-size: 20px;
	float: right;
}

