<link href="/css/weather.css" rel="stylesheet">

<div class="weather">	
<div id="beachname"> {{beachname}} </div>
<div id="time"> 2:10PM </div>
<div id="temp"> 72 </div>
<div id="icon"> <img src="/images/sunclouds1.png" class="img-responsive"> </div> 

<!-- <div id="sunrise"> Sunrise: 6:27PM </div>
<div id="sunset"> Sunset: 6:02PM </div> -->
<div id="highlow"> low: 59F high: 74 </div>
<div id="weeklywe"> <table style="width:150px" align="center">
		<tr>
  			<td>W</td>
  			<td>TH</td>
  			<td>F</td>
  			<td>Sa</td>
		</tr>
		<tr>
  			<td>65</td>
  			<td>67</td>
  			<td>69</td>
  			<td>70</td>
		</tr>
</table></div>
<div id="order"> </div>
</div>

<script>
//screen width
var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;

function getWeather(){
	var location;
	var name = "{{beachname}}"
	if(name == "LaJolla")
    	location = "http://api.openweathermap.org/data/2.5/weather?lat=32.8608&lon=-117.2569"; //la jolla 
	else if(name == "Oceanside")
    	location = "Oceanside";
  	else if(name == "PacificBeach")
    	location = "Pacific Beach";
  	else if(name == "Coronado")
    	location = "Coronado";
  	else if(name == "MissionBay")
    	location = "Mission Bay";
	$.get(location, displayWeather);
}

function displayWeather(result){
	var date = new Date(result["sys"]["sunset"]);
	var hours = date.getHours();
	var minutes = date.getMinutes();
	var seconds = date.getSeconds();
	var formattedTime = hours + ':' + minutes + ':' + seconds;
	console.log(formattedTime);
	$("div #order").html("<p>"+result['name']+"</p>");
	//$("div #time").html("<p>"+date.toLocaleTimeString()+"</p>");

}
getWeather();
</script>
