
<div class="weather">	
<!-- <div id="beachname"> {{beachname}} </div> -->

<div id="time"> 2:10PM </div>

<div id="icon"> <img src="/images/sunclouds1.png" class="img-responsive"></div><div id="temp"> 70 </div> 
 <div id="highlow"> High: <div id="temp_max"> </div>
    Low: <div id="temp_min"> </div>
 </div>
 
<div id="sunset"> Sunset: 6:02PM </div> 

<!-- <div id="weeklywe"> <table style="width:150px" align="center">
		<tr>
  			<td id="day0">W</td>
  			<td id="day1">TH</td>
  			<td id="day2">F</td>
  			<td id="day3">Sa</td>
		</tr>
		<tr>
  			<td id="high0">65</td>
  			<td id="high1">67</td>
  			<td id="high2">69</td>
  			<td id="high3">70</td>
		</tr>
    <tr>
        <td id="low0">65</td>
        <td id="low1">67</td>
        <td id="low2">69</td>
        <td id="low3">70</td>
    </tr>
</table></div> -->
<!-- <div id="order"> </div> -->
</div>


<script>
//screen width
var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;

function getWeather(){
	var location;
	var name = "{{beachname}}"
	if(name == "LaJolla")
    	location = "http://query.yahooapis.com/v1/public/yql?q=select%20item%20from%20weather.forecast%20where%20location%3D%2292038%22&format=json"
    //"http://api.openweathermap.org/data/2.5/weather?lat=32.8608&lon=-117.2569"; //la jolla 
	else if(name == "Oceanside")
    	location = "http://query.yahooapis.com/v1/public/yql?q=select%20item%20from%20weather.forecast%20where%20location%3D%2292054%22&format=json"
    //http://query.yahooapis.com/v1/public/yql?q=select%20item%20from%20weather.forecast%20where%20location%3D%2248907%22&format=json";
    //http://weather.yahooapis.com/forecastrss?w=2464118&u=f";
  	else if(name == "PacificBeach")
    	location = "http://query.yahooapis.com/v1/public/yql?q=select%20item%20from%20weather.forecast%20where%20location%3D%2292109%22&format=json"
    //"http://weather.yahooapis.com/forecastrss?w=2467320&u=f";
  	else if(name == "Coronado")
    	location = "http://query.yahooapis.com/v1/public/yql?q=select%20item%20from%20weather.forecast%20where%20location%3D%2292054%22&format=json"
    //"http://weather.yahooapis.com/forecastrss?w=2385261&u=f";
  	else if(name == "MissionBay")
    	location = "http://query.yahooapis.com/v1/public/yql?q=select%20item%20from%20weather.forecast%20where%20location%3D%2292109%22&format=json"
    //"http://weather.yahooapis.com/forecastrss?w=55970841&u=f";
    $("div #time").html("<p>"+getRealtime()+"</p>");
	$.get(location, displayWeather);
}

function displayWeather(result){
	var forecasts = result['query']["results"]['channel']['item']['forecast'];
	//console.log(forecasts[0]);
	//console.log(result);
	//$("div #time").html("<p>"+date.toLocaleTimeString()+"</p>");
 	
	$("div #temp").html("<p>"+result['query']["results"]['channel']['item']['condition']['temp']+"</p>");
	$("div #temp_min").html("<p>"+forecasts[0]["low"]+"</p>");
	$("div #temp_max").html("<p>"+forecasts[0]['high']+"</p>");
  $("#day0").html(forecasts[1]["day"]);
  $("#day1").html(forecasts[2]["day"]);
  $("#day2").html(forecasts[3]["day"]);
  $("#day3").html(forecasts[4]["day"]);
  $("#low0").html(forecasts[1]["low"]);
  $("#low1").html(forecasts[2]["low"]);
  $("#low2").html(forecasts[3]["low"]);
  $("#low3").html(forecasts[4]["low"]);
  $("#high0").html(forecasts[1]["high"]);
  $("#high1").html(forecasts[2]["high"]);
  $("#high2").html(forecasts[3]["high"]);
  $("#high3").html(forecasts[4]["high"]);
}
getWeather();
</script>
