
<div class="weather">	
<!-- <div id="beachname"> {{beachname}} </div> -->

<div id="time"> 2:10PM </div>
<div id="temp"> 70 </div>
<div id="icon"> <img src="/images/sunclouds1.png" class="img-responsive"></div> 
<!-- <div id="sunrise"> Sunrise: 6:27PM </div>
<div id="sunset"> Sunset: 6:02PM </div> -->
<div id="highlow"> low: 59F high: 74 </div>
<div id="weeklywe"> <table style="width:150px" align="center">
		<tr>
  			<td>W</td>
  			<td>TH</td>
  			<td>F</td>
  			<td>Sa</td>
		</tr>
		<tr>
  			<td>65</td>
  			<td>67</td>
  			<td>69</td>
  			<td>70</td>
		</tr>
</table></div>
<!-- <div id="order"> </div> -->
</div>


<script>
//screen width
var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;

function getWeather(){
	var location;
	var name = "{{beachname}}"
	if(name == "LaJolla")
    	location = "http://api.openweathermap.org/data/2.5/weather?lat=32.8608&lon=-117.2569"; //la jolla 
	else if(name == "Oceanside")
    	location = "http://weather.yahooapis.com/forecastrss?w=2464118&u=f";
  	else if(name == "PacificBeach")
    	location = "http://weather.yahooapis.com/forecastrss?w=2467320&u=f";
  	else if(name == "Coronado")
    	location = "http://weather.yahooapis.com/forecastrss?w=2385261&u=f";
  	else if(name == "MissionBay")
    	location = "http://weather.yahooapis.com/forecastrss?w=55970841&u=f";
    $("div #time").html("<p>"+getRealtime()+"</p>");
	$.get(location, displayWeather);
}

function displayWeather(result){
	var date = new Date(result["sys"]["sunset"]);
	var hours = date.getHours();
	var minutes = date.getMinutes();
	var seconds = date.getSeconds();
	var formattedTime = hours + ':' + minutes + ':' + seconds;
	console.log(formattedTime);
	$("div #order").html("<p>"+result['name']+"</p>");
	$("div #order").html("<p>"+result['name']+"</p>");
	//$("div #time").html("<p>"+date.toLocaleTimeString()+"</p>");
	$("div #temp").html("<p>"+result['temp']+"</p>");
	$("div #temp_min").html("<p>"+result['temp_min']+"</p>");
	$("div #temp_max").html("<p>"+result['temp_max']+"</p>");

}
getWeather();
</script>
