<div class="weather">

<div id="beachname"> La Jolla Shores </div>
<div id="time"> 2:10PM </div>
<div id="icon"> <img src="/images/sunclouds1.png"> </div> 
<div id="temp"> 72 </div>
<div id="sunrise"> Sunrise: 6:27PM </div>
<div id="sunset"> Sunset: 6:02PM </div>
<div id="highlow"> 75 59 </div>

</div>


<style>
div .comment .title .height{
	font-size:40px;
	border-radius:;

}

.weather{
	vertical-align: middle;
	font-size: 40px;
}

#beachname {
}

#time{
}
	

#icon{
	
}

#temp{

}

#sunrise{
	
}

#sunset{
	}

#highlow{
	
}


</style>