.navbar{

}

#blist{
	background: #00C9AD;
}
ul {
	padding-left:0px;
}
li{
	list-style-type: none;
}
body{
	background-color: #00C9AD;
}
.button{
	width: 100%; /*width of the buttons*/
	background: #F0DE62;/*default background color for buttons*/
	background-image: url('/images/purtywood.png'); 
}

#back{
	display:block;
	text-align: left;
	padding-left: 90px;
	font-size: 20px;
	width: 150px;
	height: 30px;
}
#back a{
	display:block;
}
li img{
	/* left over 25% width*/
	margin-right:5%;
	margin-top:2px;
	width:55px;
	height:55px;
	float:right;
}
div{
	display: block;
}
a{
	display:block;
	width:75%;
	float:left;
}