#blist{
	background: #00C9AD;
	text-decoration: none;
}
li{
	height:60px;
	list-style-type: none;
}
body{
	background-color: #00c9AD;
}

#login{
	margin-right: 5px;
	width:195px;
}
.fbutton{
	margin:10px 0;
	font-size:40px;
	color:black; /* center font color*/
	text-align: center;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
  	height: 65px; /* height for all three buttons on front page*/
	width: 400px; /*width of the buttons*/
	background: #F0DE62;/*default background color for buttons*/
}
#back{
	text-align: left;
	padding-left: 90px;
	font-size: 20px;
	width: 200px;
	height: 30px;
}

li img{
	/**/
	margin-right:20px;
	margin-top:5px;
	width:57px;
	height:57px;
	float:right;
}
a{
	width:300px;
	float:left;
}