/* ///////////////// surf.css /////////////////////////*/
@import "surf.css";
/* ///////////////// weather.css /////////////////////////*/
@import "weather.css";
/* ///////////////// map.css /////////////////////////*/
@import "map.css";

.pagename{
	display:inline-block;
	width:50%;
	font-size: 32px;
	line-height: 1;
	text-align: center;
	position:relative;
	z-index: 2;
	color: #2a6496;
	/*color:#F0DE62;*/
	/*background-color: #2a6496;*/
	height: 50px;
}
#topnavname{
	padding-left:50px;
	font-size:40px;
}
.headline{
	width:100%;
	margin-bottom: 2%;
	padding-bottom: 1%;
	-moz-border-radius: 12px; /* FF1+ */
	/webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
  	background:#F0DE62;
	/*background: #2a6496;/*default background color for buttons*/
	/*background-image: url('/images/purtywood.png'); */
	/*border-color: #2a6496;
	border-width: 5px;
	border-style: solid;*/
}
/*///////////////////////////*/
.arrow{
	display:inline-block;
	width:20%;
	height: 50px;
}
.home{
	display:inline-block;
	float:right;
	width:20%;
	height: 50px;	
}
.iconname{
	width:50px;
	height:50px;
	float:left;
	font-size: 30px;
	margin-left:0px;
	clear:both;
}
.sbcontent{
	line-height: 230%;
	position:relative;
	width:80%;
	height:300px;
	float:right;
	z-index: 2;
	border-radius: 3px;
}
div .sbcontent{
	font-family:'Sintony'; 
}
.sidebar{
	width:9%;
	position:absolute;
	float:left;
	z-index: 2;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
}
.beachcontent{}
.home img{
	margin-top:10%;
	float:right;
	width:50px;
	height: 50px;
}
.arrow img{
	margin-top:10%;
	float:left;
	width:50px;
	height: 50px;
}