/*
 * 
 *
 *
 */
body{
	position: relative;
    width: 100%;
    display: block;
    background: white;/* background color of app*/
}
.container{
	width:400px;
}
.button{
	margin:10px 0;
	font-size:40px;
	color:#000000; /* center font color*/
	text-align: center;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
  	height: 60px; /* height for all three buttons on front page*/

	background: #00C9AD;/*default background color for buttons*/
}
#tagline{
	font-size: 26px;
	text-align: right;
	padding-right: 5px;
}

#homeimg{
	width:100%;
}

/*
.circle{
width:300px;
height:300px;

border-radius: 50%;
font-size:100px;
color:#fff; /* center font color
line-height:300px;
text-align:right;
padding-right: 20px;
background:#F0DE63; /*center circle color
}
*/
#buttonline{
	width:400px;
	clear:both;
}
#login{
	margin-right: 5px;
	width:195px;
	float:left;
}
#sign{
	margin-left: 5px;
	width:195px;
	float:right;
	/*background:red; /*sign in background color*/
}
#find{
	clear:both;
	width:400px;
	/*background:green; /*sign in background color*/
}
div a{display:block;}
a:hover{text-decoration: none;}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}


/*font for app*/
@font-face
{
font-family: myFirstFont;
src: url(/fonts/talldark.ttf);
}

div
{
font-family: myFirstFont;
}
