/*
 * 
 *
 *
 */
body{
	position: relative;
    width: 100%;
    display: block;
    background: white;/* background color of app*/
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
.container{ /* main screen size*/
	width:480px;
}}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
.container{ /* main screen size*/
	width:640px;
}}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
.container{ /* main screen size*/
	width:640px;
}}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
.container{ /* main screen size*/
	width:480px;
}}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
 .container{ /* main screen size*/
	/*width:768px;*/
	width:400px; /*standard width*/
}}

/* #### Desktops #### */
@media screen{
.container{ /* main screen size*/
	width:400px;
}}

.button{
	margin:5px 0;
	font-size:40px;
	color:#000000; /* center font color*/
	text-align: center;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
  	height: 60px; /* height for all three buttons on front page*/
	background: #00C9AD;/*default background color for buttons*/
}
#tagline{
	font-size: 26px;
	text-align: right;
	padding-right: 5px;
}

#homeimg{
	width:100%;
}

/*
.circle{
width:300px;
height:300px;

border-radius: 50%;
font-size:100px;
color:#fff; /* center font color
line-height:300px;
text-align:right;
padding-right: 20px;
background:#F0DE63; /*center circle color
}
*/
#buttonline{
	width:100%;
	clear:both;
}
#login{
	margin-right: 1%;
	width:49%;
	float:left;
}
#sign{
	margin-left: 1%;
	width:49%;
	float:right;
	/*background:red; /*sign in background color*/
}
#find{
	clear:both;
	width:100%;
	/*background:green; /*sign in background color*/
}
div a{display:block;}
a:hover{text-decoration: none;}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}


/*font for app*/
@font-face{font-family: myFirstFont;src: url(/fonts/talldark.ttf);}
div{font-family: myFirstFont;}