body{
	background: #00C9AD;
	text-decoration: none;
	/*background-image: url('/images/bg.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;*/
}
.pagename{
	width:50%;
	font-size: 45px;
	text-align: center;
	position:relative;
	z-index: 2;
}
#weather{
	position:relative;
	width: 100%;
	z-index: -10;
}

.headline{
	font-size:40px;
	width:100%;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
	background: #F0DE62;/*default background color for buttons*/
}

div a{
	display: block;
}

/*///////////////////////////*/
.arrow{
	width:20%;
	height: 50px;
}
@keyframes slideout{
from {width:50px;}
to {width:150px;}
}
@keyframes slidein{
from {width:150px;}
to {width:50px;}
}
.icon{
	width:50px;
	height:50px;
	float:right;
}
.iconname{
	float:left;
	font-size: 30px;
	margin-left:30px;
}

.sbcontent{
	position:relative;
	width:300px;
	height:300px;
	float:right;
	z-index: 2;
}
.sidebar{
	background: #00C9AD;
	position:absolute;
	float:left;
	z-index: 2;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
}
.beachcontent{
	clear:both;
	background-image: url('/images/bg.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;

}
.tab{
	clear:both;
	width:100%;
}
.arrow img{
	float:left;
	width:50px;
	height: 50px;
}