.container{
	width: 400px;
}


#pb{
	background: #00C9AD;
	text-decoration: none;
}

#pagename{
	font-size: 45px;
	text-align: center;
}

.button{
	margin:10px 0;
	font-size:40px;
	color:#000000; /* center font color*/
	text-align: center;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
  	height: 60px; /* height for all three buttons on front page*/

	background: #00C9AD;/*default background color for buttons*/
}

.fbutton{
	width: 400px;
	margin:10px 0;
	font-size:40px;
	color:black; /* center font color*/
	text-align: center;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */	
  	height: 65px; /* height for all three buttons on front page*/
	width: 400px; /*width of the buttons*/
	background: #F0DE62;/*default background color for buttons*/
}

#bottombuttons {
	width: 400px;
	clear: both;
}

#login{
	margin-right: 5px;
	width:195px;
	float:left;
}

#help{
	margin-left: 5px;
	width:195px;
	float:right;
}

a{
	width:300px;
	float:left;
}