.surfdata{
		margin-left:auto;
/* 	padding-right:50px;*/
}
.comment{
	text-align: center;
	font-size: 40px;
	/*color: #2A6496;*/
	margin-bottom: 5px;
	padding-top: 15px;
}
.height a:visited {color:#2a6496;}
.height{
	text-align: center;
	font-size: 50px;
	/*color: #ef4444 !important;*/
	padding-top: 15px;
	padding-bottom: 20px;
	letter-spacing: 2px;
	/*add font color*/
}
.high{
	text-align: center;
	font-size: 25px;
	letter-spacing: 2px;
	padding-top:5px;
}
.low{
	text-align: center;
	font-size: 25px;
	letter-spacing: 2px;
	padding-bottom:15px;

}
.wind{
	text-align: center;
	font-size: 25px;
	letter-spacing: 2px;
}
.h2o{
	text-align: center;
	font-size: 25px;
	letter-spacing: 2px;
}