.weather{
	text-align: center;
	font-size: 40px;
	opacity:.9;
 	letter-spacing: 1.5px;
}
#time{
	font-size:40px;
	padding-top: 15px;
	padding-bottom: 10px;
}	
#weatherIcon{
	display:inline-block;
    position:absolute;
    left:10%;
    top:0%;
    z-index:-10;
    width:80%;
}
img{
	width:auto;
	height:120px;
}
#temp_min{display:inline-block;}
#temp_max{display:inline-block;}
#temp{
	position: relative;
	font-size: 60px;
	padding-top:15%;
	padding-bottom: 15%;
}

#sunrise{font-size: 25px;}
#sunset{font-size: 25px;}
#highlow{
	padding-bottom: 5px;
	font-size: 25px;	
}
#weeklywe{
	padding:7px;
	font-size: 30px;
}