div .comment .title .height{
	font-size:40px;
	border-radius:;


}
.weather{
	text-align: center;
	font-size: 40px;
}
#beachname {
}
#time{
	font-size:30px;
	padding-top: 15px;
	padding-bottom: 15px;
}	
#icon{
	display:inline-block;
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

}
img{
	width:170px;
	height:120px;
}
#temp{
	position: relative;
	font-size: 60px;
	padding-top: 10%;
}
#sunrise{
	font-size: 25px;
}
#sunset{
	font-size: 25px;
	}

#highlow{
	padding-bottom: 5px;
	font-size: 25px;
	
}

#weeklywe{
	padding:7px;
	font-size: 30px;
}